<div class="generalInfo">
  <div class="header">Visualizing Drug Harm</div>
  <div>Reddit dataisbeautiful <a href="https://www.reddit.com/r/dataisbeautiful/comments/an18kt/battle_dataviz_battle_for_the_month_of_february/">February
      2019 compeition</a>
  </div>
  <div><a href="https://github.com/mritzing/dataisbeautifulmonthly/tree/master/feb-drugdependence/">Code</a> - <a href="https://stackblitz.com/github/mritzing/drug-viz-stackblitz">StackBlitz Project</a> - <a
      href="https://commons.wikimedia.org/wiki/File:Development_of_a_rational_scale_to_assess_the_harm_of_drugs_of_potential_misuse_(physical_harm_and_dependence,_NA_free_means).svg#Data">Original
      Dataset</a> - 
      <a href="https://www.dea.gov/drug-scheduling">US Scheduling Info</a>
  </div>
</div>
<app-drug-polar-charts></app-drug-polar-charts>
